@import "../../utils/variables.scss";
@import "../../utils/mixins.scss";

.description {
  display: flex;
  flex-direction: column;
  row-gap: 21px;
  padding: 40px 16px;
  height: 500px;
  background-image: url("../../../public/background.png");
  color: #fff;

  @include onTablet {
    padding-top: 89px;
  }

  @include onDeskTop {
    height: 650px;
    padding-top: 164px;
  }

  &__title {
    align-self: center;
    max-width: 380px;
    font-size: 40px;
    font-weight: normal;
    text-align: center;
  }
  &__text {
    align-self: center;
    max-width: 380px;
    text-align: center;
    margin-bottom: 11px;
  }
}
